<%= form_with model: ([@blog, @blog.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :content %>
  </div>
  <%= f.submit %>
<% end %>
